@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: "Roboto", sans-serif;
    --font-display: "Roboto", sans-serif;
    --font-mono: "Roboto", monospace;


  }
  .font-display {
     font-family: var(--font-display);
     font-weight: 200;
  }
  .font-sans {
    font-family: var(--font-sans);
  }
  .font-mono {
    font-family: var(--font-mono);
  }
  .font-bold {
    font-family: var(--font-sans);
    font-weight: 600;
  }
  body {
    font-family: var(--font-sans);
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
  }
  @media (max-width: 768px) {
    pre {
      white-space: pre-wrap;
    }
  }

  
  pre {
    max-width: 100%;
    overflow-x: auto; /* Scroll horizontal si el contenido es demasiado grande */
  }
  
  /* Responsive tables for mobile */
  .prose .overflow-x-auto {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
 
  /* CSS */
  :root {
    font-family: Inter, sans-serif;
    background-color: #f7f7f7 ;
  }
  @supports (font-variation-settings: normal) {
    /* Use variable font if supported */
    :root {
      font-family: InterVariable, sans-serif;
    }
  }
  
  :root {
    --astro-code-color-text: #000000;
    --astro-code-background: #f5f5f5;
    
  }
  
  