---
import LanguagePicker from "./LanguagePicker.astro";


---

<header class="flex justify-between items-center p-4 w-full max-w-7xl mx-auto">
    <a href="/" class="text-xl text-orange-500 ">are.dev</a>
    <LanguagePicker />
</header>
